<br/><h1 align="center">
  <div align="center">
    <div class="card navbar-custom" style="width: 60rem;">
      <div class="card-body">
        <h5 class="card-title">
          Welcome <%= current_user.username %>
        </h5><br/>


    <h1 align="center">
      <img src="https://media4.giphy.com/media/9rg3jLvkmuw5cIY0be/giphy.gif?cid=6c09b9527gsbl9w6kbi7q18rxg5mejdsk7kg5bozt0331voh&rid=giphy.gif&ct=s" alt="logo">
      <%= link_to "Discover Movies", discover_path, class: "btn btn-lg btn-outline-dark btn-light navbar-custom" %>
    </h1><br/><br/>

    <%= render 'friends' %>
    </div>
  </div>
  <div align="center">
  <section id='events'><br/>
    <h5 style="width: 40rem;" class="card-title card navbar-custom">Scheduled Virtual Watch Parties
    </h5>
    <% current_user.events.each do |event| %>
    <br/>
      <div class="card navbar-custom" style="width: 60rem;">
        <div class="card-body">
          <h5 class="card-title">
      <%= event.title %> <br>
      <%= event.duration %>min <br>
      <%= event.day.strftime("%B %d, %Y") %> <br>
      <%= event.start_time.strftime("%l:%M %p") %> <br>
      <% if current_user.id == event.user_id %>
        <p>Hosting </p><br>
      <% elsif current_user.id != event.user_id %>
        <p>Invited by  <%= event.determine_host.username %></p><br>
      <% end %>
        <p>Attendees: <br>
          <% event.attendees.each do |attendee| %>
            <% if attendee.determine_attendee.id == current_user.id && current_user.id == event.user_id %>
              <% attendee.determine_attendee.username %>
            <% elsif attendee.determine_attendee.id == current_user.id %>
              <strong><%= attendee.determine_attendee.username %></strong>
            <% else %>
              <h6><%= attendee.determine_attendee.username %></h6>
            <% end %>
          <% end %></div></div>
        <% end %></div>
  </section>
</div>
