
<h1><%= @movie[:title] %>
<span align="right">
  <%= button_to "Create Event for #{@movie[:title]}", new_event_path, params: { movie_id: @movie[:id] }, method: :get, class: "btn btn-info btn-outline-dark" %>
</span></h1>

<p><b>Vote Average: </b><%= @movie[:vote_average] %></p>
<p><b>Runtime: </b><%= @movie[:runtime] / 60 %>hr <%= @movie[:runtime] % 60 %>min </p>
<p><b>Genres: </b><%= @genres.join(", ") %>

<h2>Summary</h2>
<p><%= @movie[:overview] %></p>

<h2>Cast</h2>
<% @movie_credits[:cast].first(10).each do |member| %>
  <h3><%= member[:name] %> as <%= member[:character] %></h3>
<% end %>

<h2> <%= @movie_reviews[:results].count %> Reviews</h2>
<h2><% @movie_reviews[:results].each do |review| %></h2>
  <h3>Author: <%= review[:author] %></h3>
  <h3><%= review[:content] %></h3>
<% end %>
