<br/>
<div align="center">
  <div class="card navbar-custom" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to "Create Event for #{@movie.title}", new_event_path, method: :get, class: "btn btn-info navbar-custom btn-outline-dark" %>
      </h5><br/>
      <h6 class="card-subtitle mb-2">
        <strong>Rating: </strong><%= @movie.vote_average %><br/><br/>
        <b>Runtime: </b><%= @movie.runtime / 60 %>hr <%= @movie.runtime % 60 %>min<br/><br/>
        <b>Genres: </b><%= @genres.join(", ") %><br/><br/>
      </h6>
        <% if @movie.image %>
          <h6 class="card-subtitle mb-2">
            <img src="<%= @movie.image %>" width=60%>
          </h6>
          <h4 class="card-subtitle mb-2">
            Summary: <br><br/>
            <%= @movie.overview %>
          </h4><br/>
          <h5 class="card-subtitle mb-2">
            Cast: <br/><br/>
              <% @movie_credits.each do |member| %>
                - <%= member.name %> as <%= member.character %><br/>
              <% end %>
          </h5>
    </div>
  </div>
  <br/><br/>
  <div class="card navbar-custom" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">
        <%= @movie_reviews.count %> Reviews
      </h5><br/>
    </div>
  </div>
    <% @movie_reviews.each do |review| %>
    <div class="card navbar-custom" style="width: 60rem;">
      <div class="card-body">
        <h5 class="card-title">
          Author: <strong><%= review.author %></strong><br/><br/>
        </h5>
        <h6 class="card-subtitle mb-2">
          <p><%= review.content %></p>
        </h6>
      </div>
    </div><br/>
      <% end %>
  <% end %>
</div>
